@import url('https://fonts.googleapis.com/css?family=Sniglet:400,800&display=swap');

.bg-color {
	background-color: #0B70C8;
}


.font-color {
	color: #D93030;
	margin-right: 20px;
	font-family: 'Sniglet', cursive;
	font-size: 35px;
}