@import url('https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap');

.btn-color{
	background-color: #D6B534;
	color: #fff;
}

h1 {
	font-family: 'Londrina Solid', cursive;
	color: #892F85;
}