@import url('https://fonts.googleapis.com/css?family=Sniglet:400,800&display=swap');


.title {
	text-align: center;
	font-family: 'Sniglet', cursive;
	font-size: 35px;
	color: blue;
	letter-spacing: 1pt;
	word-spacing:5pt;
}